.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 150px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logo {
  height: 30px;
  margin-right: 10px;
}

.logoText {
  font-size: 24px;
  font-weight: bold;
  color: #BE3455;
}

